<div class="surface-800 pt-5 pb-5 pb-21 mx-4n">
    <div
      class="px-4 py-5 md:px-6 lg:px-8 flex justify-content-between align-items-center p-5"
    >
      <div class="mb-2 mb-lg-0">
        <h3 class="mb-0 text-white">Welcome Back</h3>
        <p class="mt-0 mb-0 text-white">
          Hello o.abdelaaziz, have nice and good day.
        </p>
      </div>
      <div>
        <button
          pButton
          pRipple
          label="Create New Server"
          size="small"
          raised="true"
          class="p-button-plain bg-white text-800"
          (click)="showDialog()"
        ></button>
      </div>
    </div>
  </div>