<div class="top-header md:px-6 lg:px-8 flex align-items-center justify-content-between surface-900"
  style="height: 34px">
  <div class="ml-3">
    <span class="text-white"><i class="pi pi-envelope mr-2 link"></i>mr.ouakala.abdelaaziz&#64;gemail.com</span>
  </div>
  <div class="mr-3">
    <a href="#" class="text-white mr-3"><i class="pi pi-facebook"></i></a>
    <a href="#" class="text-white mr-3"><i class="pi pi-twitter"></i></a>
    <a href="#" class="text-white mr-3"><i class="pi pi-instagram"></i></a>
    <a href="#" class="text-white"><i class="pi pi-linkedin"></i></a>
  </div>
</div>